:root {
  --c00: #FFFFFF;
  --c01: #F7F7F7;
  --c02: #EDEDED;
  --c03: #DEDEDE;
  --c04: #CCCCCC;
  --c05: #B3B3B3;
  --c06: #9C9C9C;
  --c07: #707070;
  --c08: #707070;
  --c09: #404040;
  --c10: #2E2E2E;
  --c11: #121212;
  --c12: #000000;

  --p01: #FFBB00;
  --p02: #E4A30B;
  --p03: #A66F00;
  --p04: #664400;
  --p05: #332200;

  --plinear: linear-gradient(180deg, #FFBF00 0%, #F2A60C 100%);
}

/* PROPRIEDADES PADRÃO */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* PROPRIEDADES DO SITE */

.header-bg {
  background-color: var(--c12);

}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  /* Separando o logo do menu de navagação - um em cada canto da página */
  align-items: center;
  /* Alinhando itens verticalmente ao centro */
  padding: 1.25rem;
  /* limitar tamanho do container */
  box-sizing: border-box;
  max-width: 1200px;
  /* centralizar conteudo */
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.header-menu a {
  padding-top: 1rem 0;
  display: inline-block;
  color: var(--c00);
  font-size: 1.125rem;
  line-height: 2rem;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--c00);
  margin-top: 0.125rem;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}


/* propriedades para telas abaixo de 800px */
@media (max-width: 800px) {
  .header-menu {
    gap: 1.25rem;
  }

  .header-menu a {
    background-color: var(--c11);
    padding: 0.75rem 1rem;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: var(--c10);
  }

  .header-menu a::after {
    display: none;
  }
}

/* propriedades para telas abaixo de 600px */
@media (max-width: 600px) {
  .header-menu {
    gap: 0.75rem;
  }

  .header-menu a {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
}

/* INTRODUÇÃO */
.intro-bg {
  background-color: var(--c12);
  color: var(--c00);
  /* técnica para permitir que a imagem "vaze" para baixo do background, mediante uso de uma sombra (box shadow)que passa a ser da cor que precisamos no local em que a imagem vaza */
  box-shadow: inset 0 -120px var(--c00);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
  /* limitar tamanho do container */
  box-sizing: border-box;
  max-width: 1200px;
  /* centralizar conteudo */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.intro img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.intro-conteudo {
  align-self: end;
  /* valor fixado em 200px para compensar o box-shadow usado para criar a impressão da imagem vazando por baixo do background preto */
  padding-bottom: 12.5rem;
}

.intro-conteudo h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  /* utilizando-se valores absolutos no line-height ele é calculado com base no font-size e acaba ficando bom mesmo se for feita alguma alteração no tamanho da fonte */
  line-height: 1.125;
}

.intro-conteudo h1 span {
  color: var(--p01);
}

.intro-conteudo p {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--c05);
}

.intro-conteudo a {
  display: inline-block;
  padding: 1rem 2rem;
  background: linear-gradient(#FFBF00, #F2A60C);
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--p05);
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: bold;

}

.intro-conteudo a:hover {
  background: linear-gradient(#FFB60D, #E59317);
}

/* propriedades para telas abaixo de 1200px */
@media (max-width: 1200px) {
  .intro h1 {
    font-size: 3rem;
  }

  .intro p {
    font-size: 1.125rem;
  }
}

/* propriedades para telas abaixo de 800px */
@media (max-width: 800px) {
  .intro-bg {
    background-color: #111111;
    padding-top: 2.5rem;
    box-shadow: inset 0 -60px var(--c00);
  }


  /* passar a usar somente uma coluna */
  .intro {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .intro h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .intro p {
    font-size: 1.125rem;
  }

  .intro img {
    height: 300px;
    width: 100%;
  }

  .intro-conteudo {
    padding-bottom: 0;
  }
}

/* propriedades para telas abaixo de 600px */
@media (max-width: 600px) {
  .intro a {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}