.texto-grande {
  font-size: 4rem;
  /* utilizando-se valores absolutos no line-height ele é calculado com base no font-size e acaba ficando bom mesmo se for feita alguma alteração no tamanho da fonte */
  line-height: 1.125;
  font-family: 'Poppins';
  font-weight: 600;
}

.texto-medio {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Roboto';
  font-weight: 400;
}