/* INTRODUÇÃO */
.intro-bg {
  background-color: var(--c12);
  color: var(--c00);
  /* técnica para permitir que a imagem "vaze" para baixo do background, mediante uso de uma sombra (box shadow)que passa a ser da cor que precisamos no local em que a imagem vaza */
  box-shadow: inset 0 -120px var(--c00);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
  /* limitar tamanho do container */
  box-sizing: border-box;
  max-width: 1200px;
  /* centralizar conteudo */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.intro img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.intro-conteudo {
  align-self: end;
  /* valor fixado em 200px para compensar o box-shadow usado para criar a impressão da imagem vazando por baixo do background preto */
  padding-bottom: 12.5rem;
}

.intro-conteudo h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  /* utilizando-se valores absolutos no line-height ele é calculado com base no font-size e acaba ficando bom mesmo se for feita alguma alteração no tamanho da fonte */
  line-height: 1.125;
  font-family: 'Poppins';
  font-weight: 600;
}

.intro-conteudo h1 span {
  color: var(--p01);
}

.intro-conteudo p {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--c05);
  font-family: 'Roboto';
  font-weight: 400;
}

/* propriedades para telas abaixo de 1200px */
@media (max-width: 1200px) {
  .intro h1 {
    font-size: 3rem;
  }

  .intro p {
    font-size: 1.125rem;
  }
}

/* propriedades para telas abaixo de 800px */
@media (max-width: 800px) {
  .intro-bg {
    background-color: #111111;
    padding-top: 2.5rem;
    box-shadow: inset 0 -60px var(--c00);
  }


  /* passar a usar somente uma coluna */
  .intro {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .intro h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .intro p {
    font-size: 1.125rem;
  }

  .intro img {
    height: 300px;
    width: 100%;
  }

  .intro-conteudo {
    padding-bottom: 0;
  }
}